
<div class="row">
<div class="col-sm-6">


{{#each article}}


<div class="panel panel-primary">

  <div class="panel-heading">

  <h2>ARTICLE TITLE:</h2>
    <h3 class="panel-title"> {{title}}</h3>
  </div>
  {{#if comments}}
<div class="panel-body">
Comments:
</div>
{{/if}}
  <div class="panel-body">
<ul>
  {{#each comments}}
	  	<div class="panel-body">
    
    		<form action="/delete" method="POST">
    		<li id="commentline">{{comment}}
 				<input type="hidden" name="id" value="{{id}}">  
				<button type="submit" class="btn-success btn" id="deletebutton">Delete Comment!</button>
				</li>

			</form>
			
		</div>
  {{/each}}
</ul>
  </div>
</div>

<div class="input-group">
 <form action="/submit" method="POST">
  <input type="text" class="form-control" placeholder="Enter comment here!" req name="comment" aria-label="..." required>
  <div class="input-group-btn">
 
 	<input type="hidden" name="id"  value="{{id}}">  
	<!-- <textarea type="text" name="comment">COMMENT</textarea> -->
	<button type="submit" class="btn btn-primary" id="commentbutton">Add Comment!</button>
</form>
  </div>
</div>
{{/each}} 

</div>
</div>
